# Ignore files
**/.gitignore
**/*.csproj.user
**/*.lock
**/README.md

# Ignore folders
**/node_modules
**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/dist
**/build/tools/Addins
**/build/tools/Cake
**/build/tools/nuget.exe
**/build/tools/packages.config.*
**/reports